/*
# author: themechanic;
# date: 26 august 2015;

Header - #2c343b
Login signup buttons - #394643
Plus sign - #b8313f
Background image tint - #313102f
About/activity/etc background - #1a242d
Habibi or habibti background - #e4e2e2
Habibti text and line underneath - #463741
Font (Habibi or habibti) - Intro Head R Base
Shirt size , Pant size, etc arrow - #c7b7a8
Font (Shirt size, pant size) - Proxima Nova Light
Silhouette shadows - #e7e7e7

*/
/*universal styles*/
*{
  margin: 0;
  padding: 0
}
body, html, input, textarea, button, select{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

a:focus, a:active, a:visited{
	outline: none;
}
a:hover{
	text-decoration: none;
}
/*Body padding required in bootstrap*/
body { 
	padding-top: 100px;
	background-color: #ede6e6;
}

/*typography style*/
.lite, .lite h3{
	font-weight: 300
}
.lh36{
	line-height: 36px;
}
.fs17{
	font-size: 17px;
}
.alC{text-align: center;}
/*structure style*/
nav.navbar-fixed-top{
	background-color: #2c343b;
	min-height: 100px;
	border: 0;
	margin-bottom: 0
}
#bannerSec{
	min-height: 480px;
	background: #EFEFEF url("../images/banner.jpg") no-repeat top center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
  color: #fff
}

/*override bootstrap style*/
.navbar-brand {
    height: 100px;
    padding: 0;
}
.navbar-form{
	margin-top: 25px;
	background-color: #fff;
	min-height: 50px;
	border: 0;
	border-radius: 5px;
	padding: 0;
	margin-left: 8%
}
.navbar-form .form-group, .navbar-form .btn{
	margin-top: 7px;
}
.navbar-form .form-group.second{
	border-left: 2px solid #414f5f;
}
.navbar-form .form-control{
	border-radius: 0;
	border: 0;
	height: 36px;
	box-shadow: none;
	font-size: 16px;
	color: #414f5f
}
.navbar-form .form-control:focus{
	outline: none;
	box-shadow: none;
}
.navbar-form .btn-default{
	background-color: transparent;
	border-color: white
}
.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover{
	outline: none;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}
.btn-default:hover i{
	color: #777
}
.navbar-right{
	margin-top: 34px;
	margin-right: 0
}
.btn-primary{
	background-color: #e94643;
	color: #fff !important;
	border-color: #e94643;
	text-transform: uppercase;
	margin-left: 20px;
}

/*main content structure*/
#leftInnerBg{
	background-color: #1a242d;
}
.list-group-item{
	background-color: #1a242d;
	padding: 15px 30px;
	border-radius: 0 !important
}
.list-group-item a{
	color: white;
	font-weight: 300;
	display: block;
}
.list-group-item i{
	margin-right: 20px;
}
.list-group-item:hover{
	background-color: #414950
}

/*banner section*/
#bannerSec .form-group{
	text-align: center;
	margin-bottom: 20px
}
#bannerSec .frow{
	margin-top: 51px;
}
.frow span{
	width: 36px;
	height: 36px;
	display: inline-block;
}
.frow span.redBg{
	background-color: #e94643;
	border-radius: 50%;
	color: #fff;
	text-align: center;
}
.frow span.redBg i{
	font-family: inherit;
	font-size: 28px;
	font-weight: 300;
	line-height: 32px;
	margin-left: -1px;
}
.banBotRow h3{
	font-size: 22px;
}
.banBotRow a{
	color: #aeaeae;
	border-bottom: 3px solid transparent;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 6px;
}
.banBotRow a:hover{
	border-color: white;
	color: white
}
/*middle section*/
.main-head{
	background-color:#e4e2e2;
	border-bottom: 5px solid #463741;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
}
#middleSec{
	background-color: #fff;
	padding-bottom: 200px;
}
.human_shade{
	width: 110px;
	height: 280px;
	display: block;
	position: relative;
	margin: 30px auto 0
}
.human_shade.boy{
	background: url("../images/boy.png") no-repeat;
}
.human_shade.girl{
	background: url("../images/girl.png") no-repeat;
}
.badge{
	position: relative;
	background-color: #c7b7a8;
	padding: 4px 7px;
	font-weight: 300;
	color: #2c343b;
	border-radius: 0;
	position: absolute;
}
.badge::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 5px solid transparent;
	position: absolute;
}
.badge.right::before {
	left: -10px;
	top: 25%;
	border-right: 5px solid #c7b7a8;
}
.boy .badge.one{
	right: -40px;
	top: 80px;
}
.boy .badge.two{
	right: -40px;
	top: 170px;
}
.boy .badge.three{
	right: -40px;
	top: 250px;
}

.girl .badge.one{
	right: -40px;
	top: 145px;
}
.girl .badge.two{
	right: -40px;
	top: 250px;
}

#rightSidebar{
	border-left: 1px solid #ddd;
	background-color: #fff;
}
#rightSidebar .inner{
	padding: 30px 15px;
}
#rightSidebar h4{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 17px;
	margin-bottom: 20px;
}
.widget{
	margin-bottom: 30px;
}
.widgetList{
	list-style: none;
	color: #212121
}
.widgetList li, .twitList li {
	padding-bottom: 15px;
}
.widgetList li aside{
	float: left;
	font-size: 12px
}
.widgetList li aside:first-child{
	width: 40px;
}
.widgetList li aside:last-child{
	float: right;
}
.widgetList p{
	margin: 0;
	font-weight: 400;
}
.gp{
	color: #787878
}
.twitList{list-style: none;color: #212121}
.twitList span{
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 20px;
	background-color: #a7a9ac
}
.twitList div{
	position: relative;
	margin-left: 44px;
}
.twitList p{
	margin-bottom: 4px;
	font-size: 13px;
	line-height: 14px;
}
/*set some media queries*/
@media (max-width: 767px) {
	nav.navbar-fixed-top{
		min-height: inherit;
	}
	.navbar-toggle{
		margin-top: 30px;
	}
	.navbar-left{
		margin-left: 0;
		margin-right: 0;
	}
	.navbar-form .form-group.second{
		border-left: 0;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	.navbar-right{
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.navbar-right > li{
		padding: 10px 0;
	}
	.navbar-right > li > .btn-primary{
		margin-left: 0;
		margin-right: 0;
		display: block;
		width: 100%;
		text-align: center;
	}
}

